/* header */

/* Footer */

/* 
.nav-ul>.item:not(:last-child){
	margin-bottom: 9px;
} */

/* main first*/

/* .hero{
	width: 1600px;
	background-image: url(../images/backg-img.jpg);
	background-position: center;
} */



/* секція benefits */



/* секція our-work */


/* секція our-team */



/* Постійні клієнти */



/* main second */



/* container */



/* Img */




/* модальне вікно */





/* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border 250ms cubic-bezier(0.4, 0, 0.2, 1); */
