header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(236, 236, 236, 1);
//   position: relative;
}
.container.head,
.nav-main {
  display: flex;
  }

  .container.head{
    padding: 10px 15px;
      @media screen and (min-width: 768px){
padding: 0 15px;
  }
  }

.nav-main__ul.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
  }
    @media screen and (min-width: 1200px){
 margin-left: 93px;
  }
}

.nav-main__ul.second {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
    @media screen and (min-width: 1200px){
 flex-direction: row;
 flex-wrap: nowrap;
  }
}

.container.head,
.nav-main {
  align-items: center;
}
.nav-main__ul.site-nav > .item.item:not(:last-child) {
  margin-right: 50px;
}
.nav-main__ul.site-nav > .item {
  margin-bottom: 0;
}
.item > .nav-main__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.mob-nav-main .mob-navigation-link.nav-main__link.link{
  padding: 0;
}

.nav-main__ul.second > .item-first {
  margin-right: 50px;
  margin-bottom: 10px;
   @media screen and (min-width: 768px){
 margin-right: 0;
  }
   @media screen and (min-width: 1200px){
margin-bottom: 0;
margin-right: 40px;
  }

}
.nav-main__ul.second {
  margin-left: auto;
}
.nav-main__ul.second > .item-first,
.nav-main__ul.second > .item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nav-main__ul.second > .nav-main__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  cursor: pointer;
}
.item > .nav-main__contact {
  display: flex;
  align-items: center;
}
.item-first > .nav-main__contact {
  display: flex;
  align-items: center;
}
.nav-main__contact > .mail-pin-icon.icon {
  display: inline-block;
}
.nav-main__contact > .phone-pin-icon.icon {
  display: inline-block;
}
.mail-pin-icon,
.phone-pin-icon {
  margin-right: 10px;
  fill: currentColor;
}
.nav-main__ul.second > .item-first,
.nav-main__ul.second > .item {
  color: var(--brand-color);
}
.logo {
  margin-right: auto;
  text-decoration: none;
  font-family: "Raleway", Sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 1);
    @media screen and (min-width: 1200px){
   font-size: 26px;
  }
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: var(--tytle-color);
}
.nav-main__link {
  display: block;
  text-decoration: none;
  font-family: "Roboto", Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tytle-color);
  list-style-type: none;
}
.nav-main__link:hover {
  color: var(--button-color);
}
.nav-main__link.act-stud {
  color: var(--button-color);
}
.item-first > .nav-main__contact:hover,
.item-first > .nav-main__contact:focus {
  color: var(--button-color);
}
.item > .nav-main__contact:hover,
.item > .nav-main__contact:focus {
  color: var(--button-color);
}
.item-first > .mail-pin-icon.icon {
  fill: inherit;
}

.item > .mail-pin-icon.icon {
  fill: inherit;
}

.nav-main__contact {
  font-family: "Roboto", Sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
      @media screen and (min-width: 1200px){
 padding-top: 0;
  padding-bottom: 0;
  }
}
.nav-main__ul {
  list-style-type: none;
}

.item.border {
  position: relative;
}

.nav-main__link.act-stud.link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  border-bottom-color: var(--button-color);
  @media screen and (max-width: 767px){
	display:none;
 }
}
.menu-open {
	width:40px;
	height:40px;
	border:none;
  margin-left: auto;
  display: flex;
  padding: 0;
  background: inherit;
  @media screen and (min-width: 768px){
	display:none;
 }

}

.mobile-menu{
position: fixed;
	width:100vw;
	height: 100vh;
	background-color: #ffff;
	top: 0px;
	left:0px;
	right:0px;
	padding-left: 40px;
	padding-top: 48px;
	padding-bottom: 48px;
	list-style-type: none;
	transition: left 300ms, visibility 300ms;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.is-hidden{
	left:-100px;
	right:auto;
}

.menu-close{
	display:block;  
	margin-left:auto;
	margin-right:0;
	width:40px;
	height:40px;
	position: absolute;
	top:10px;
	right: 15px;
	border:none;
	display:flex;
justify-content: center;
align-items: center;
background-color: ffff;
background: inherit;

}
.menu-close:hover,.menu-close:focus{
	color: #2196F3;
}

.mob-close{
	fill:inherit;
}

.style-link{
	list-style-type: none;
}

.mob-navigation-list.site-nav.style-link .mob-navigation-link{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;
}

.mob-navigation-item{
	cursor: pointer;
}

.mob-navigation-item:hover, .mob-navigation-item:focus{
	color: #2196F3;;
}

.mob-navigation-item:not(:last-child){
	margin-bottom: 32px;
}

.nav-main__contact.phone {
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #2196F3;
}
.mob-conection-tel{
	margin-bottom: 32px;  
}

.nav-main__contact.mail{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;
}
.mob-conection-mail{
	margin-bottom: 64px;
}

// .mob-navigation-item.item:last-child{
// 	margin-bottom: 306px;
// }

.mob-social-list.style-link{
	display:flex;
 }

.mob-social-item .social-link{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}

.mob-social-item:not(:last-child){
margin-right:10px;
}

.mob-social-item.bord:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2); 
  padding-right: 10px;
}

body.modal-open {
  overflow: hidden;
}

.mob-conection.second.style-link{
margin-top: auto;
  }


  .mob-navigation-list.site-nav.style-link{
    margin-bottom: auto;
  }

  .contact-padding{
    margin-top: auto;
  }





